html {
    background-color: rgb(210, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 30px;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

h2 {
    text-align: center;
    margin-top: 60px;
}

h3 {
    font-weight: 300;
}

h1, h2, h3, p {
    padding: 9px;
}

#plant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

#plant-container > div {
    width: 280px;
    align-self:  flex-end;
    position: relative;
    display: flex;
    margin-right: 10px;
}

#plant-container > div > .box {
    width: 75%;
    height: 125px;
    align-self:  flex-end;
    background-color: rgb(240, 250, 250);
    box-shadow: 10px 10px 15px #888888;
    z-index: 1;
    position: absolute;
    left: 20px;
    bottom: -8px;
}

#box1 {
    height: 150px !important;
}

#box5 {
    height: 90px !important;
}

img {
    max-width:100%;
    z-index: 2;
}

.gif {
    margin-bottom: 40px;
}

.gif p {
    margin-bottom: 4px;
}

.gif img {
    width: 400px;
}

button {
    display: block;
    background-color: #1261A0;
    color: white;
    padding: 10px;
    font-size: 20px;
    box-shadow: none;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}
button:hover {
    cursor: pointer;
    background-color: #054c86;
}